<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">person details</h5>
		</div>
		<div class="prof mb-4 p-4 shadow-sm" style="margin-left:2rem ;margin-right:2rem">
            <div class="mb-2">
                <span>person name:</span>
                <span><%= person.firstName + " " + person.lastName %></span>
            </div>
            
			<div class="mb-2">
				<span>Organisation Name:</span>
				<span><%= person.organisationName %></span>
			</div>
            <div class="mb-2">
				<span>Email:</span>
				<span><%=person.email %></span>
			</div>
            <div class="mb-2">
				<span>Gender:</span>
				<span><%=person.gender %></span>
			</div>
			
			<div class="mb-2">
				<span>Address:</span>
				<span><%=person.address %></span>
			</div>

            <div class="mb-2">
				<span>Phone number:</span>
				<span><%=person.phone %></span>
			</div>
            <div class="mb-2">
				<span>Joining time:</span>
				<span><%= person.joinedTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %></span>
			</div>
			<div class="mb-2"><a href="/admin/donor/view/collected/<%= person._id %>" class="btn">View Collected Donations</a></div>

            <div class="mb-2"><a href="/admin/donor/view/pending/<%= person._id %>" class="btn">View Pending Donations</a></div>
		</div>
	</div>
</main>