<main>
	<%- include('../partials/adminSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="bg-white shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Dashboard</h5>
		</div>
		
		<div class="col col-sm-10 col-12 m-auto my-4" style="max-height: 75%; overflow: auto;">
			<table class="table table-info table-striped table-hover m-0 bg-white">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Donor name</th>
						<th scope="col">Email</th>
						<th scope="col">Phone</th>
						<th scope="col">Joined time</th>
						<th scope="col">Actions</th>
						<th scope="col"> </th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<donors.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td> <%= donors[i].firstName + " " + donors[i].lastName %> </td>
							<td> <%= donors[i].email %> </td>
							<td> <%= donors[i].phone %> </td>
							<td> <%= donors[i].joinedTime.toLocaleString("en-IN", { dateStyle: "medium", timeStyle: "short"}) %> </td>
                            <td><a href="/admin/donor/<%= donors[i]._id%>" class="btn">View</a></td>
                            <form action="/admin/donor/<%=donors[i]._id %>?_method=DELETE" method="POST">
								<td><button class="btn">Delete</button>
							</form>
					<% } %>
				</tbody>
			</table>
		</div>
		
	</div>
</main>