<main>
	<%- include('../partials/ngoSidebar') %>
	
	<div id="main-wrapper">
		
		<div class="shadow-sm p-3">
			<span class="me-3" id="sidebar-toggler-btn"><i class="fas fa-bars"></i></span>
			<h5 class="m-0 color-theme d-inline-block">Pending Collections</h5>
		</div>
		
		<div class="col col-sm-10 col-12 m-auto my-4" style="max-height: 75%; overflow: auto;">
			<table class="table  table-striped table-hover m-0  prof">
				<thead>
					<tr>
						<th scope="col">#</th>
						<th scope="col">Donor name</th>
						<th scope="col">Address to collect</th>
						<th scope="col">Phone</th>
						<th scope="col">Actions</th>
					</tr>
				</thead>
				<tbody>
					<% for(let i=0; i<pendingCollections.length; i++) { %>
						<tr>
							<th scope="row"> <%= i+1 %> </th>
							<td><%= pendingCollections[i].donor ? (pendingCollections[i].donor.firstName + " " + pendingCollections[i].donor.lastName || "Unknown Donor") : "Unknown Donor" %></td>
							<td> <%= pendingCollections[i].donor ? pendingCollections[i].donor.address : "Unknown Address" %> </td>
							<td> <%= pendingCollections[i].donor ? pendingCollections[i].donor.phone : "Unknown Phone" %> </td>
							<td>
								<a href="/ngo/collection/view/<%= pendingCollections[i]._id %>" class="btn">View</a>
								<a href="/ngo/collection/collect/<%= pendingCollections[i]._id %>" class="btn">Collect</a>
							</td>
						</tr>
					<% } %>
					
				</tbody>
			</table>
		</div>
		
		
	</div>
</main>